body {
  --black: hsl(200, 100%, 10%);
  --star-size: 2px;
  color: white;
  background-color: white;
  background-image: 
    repeating-radial-gradient(circle at 91% 83%, transparent, transparent var(--star-size), var(--black) var(--star-size), var(--black) 11%, transparent 11%),
    repeating-radial-gradient(circle at 77% 22%, transparent, transparent var(--star-size), var(--black) var(--star-size), var(--black) 13%, transparent 13%, transparent calc(13% + var(--star-size)), var(--black) calc(13% + var(--star-size)), var(--black) 31%, transparent 31%);
  margin: 0;
  font-family: sans-serif;
}

main {
  padding: 20px;
}

article {
  --article-background: hsla(200, 80%, 80%, .3);
  --shine: hsla(0, 0%, 100%, .6) 90%;
  --main-colour: hsl(49, 96%, 50%);
  color: var(--main-colour);
  background: var(--article-background);
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 
    0 0 0 16px var(--article-background),
    0 0 0 4px var(--main-colour);
  position: relative;
  font-family: Economica, sans-serif;
  margin: auto;
  max-width: max-content;
}
article::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -16px;
  right: -16px;
  background: linear-gradient(135deg,
    transparent,
    transparent 90%,
    var(--shine) 90%,
    var(--shine) 91%,
    transparent 91%,
    transparent 93%,
    var(--shine) 93%,
    var(--shine) 96%,
    transparent 96%
  );
}

h2 {
  font-size: 3em;
  font-weight: normal;
  margin: 0;
  font-family: Audiowide;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  font-size: 32px;
  margin-bottom: .75em;
}

.event {
  font-weight: bold;
}
.title {
  font-style: italic;
  font-weight: bold;
}

.upcoming {
  font-family: Caveat;
}
.upcoming::before {
  content: '(Upcoming)';
}
