body {
  --black: hsl(200, 100%, 10%);
  --star-size: 2px;
  color: white;
  background-color: white;
  background-image: 
    repeating-radial-gradient(circle at 91% 83%, transparent, transparent var(--star-size), var(--black) var(--star-size), var(--black) 11%, transparent 11%),
    repeating-radial-gradient(circle at 77% 22%, transparent, transparent var(--star-size), var(--black) var(--star-size), var(--black) 13%, transparent 13%, transparent calc(13% + var(--star-size)), var(--black) calc(13% + var(--star-size)), var(--black) 31%, transparent 31%);
  margin: 0;
  font-family: sans-serif;
}

main {
  padding: 20px;
}

article {
  --article-background: hsla(200, 80%, 80%, .3);
  --shine: hsla(0, 0%, 100%, .6);
  --main-colour: hsl(49, 96%, 50%);
  color: var(--main-colour);
  background: var(--article-background);
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 
    0 0 0 16px var(--article-background),
    0 0 0 4px var(--main-colour);
  position: relative;
  font-family: Economica, sans-serif;
  margin: auto;
  max-width: max-content;
}
article::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -16px;
  right: -16px;
  z-index: -1;
  background: linear-gradient(135deg,
    transparent,
    transparent 90%,
    var(--shine) 90%,
    var(--shine) 91%,
    transparent 91%,
    transparent 93%,
    var(--shine) 93%,
    var(--shine) 96%,
    transparent 96%
  );
}

h2 {
  font-size: 3em;
  font-weight: normal;
  margin: 0;
  font-family: Audiowide;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  font-size: 32px;
  margin-bottom: .75em;
}

a {
  color: inherit;
}
a:hover, a:focus {
  color: hsl(49, 96%, 30%);
}
a:hover::after, a:focus::after {
  color: var(--main-colour);
}

.twitter {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 2em;
  text-decoration: none;
}
.twitter:hover {
  animation: whoosh .4s ease-in;
  color: var(--main-colour);
}

@keyframes whoosh {
  from {
    text-shadow: -3px 1px 2px var(--shine);
  }
  50% {
    text-shadow: 1px 3px 2px var(--shine);
  }
  to {
    text-shadow: 3px 1px 2px var(--shine);
  }
}

.talks {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-column-gap: 40px;
  width: 100%;
  max-width: 850px;
  grid-column: 1 / -1;
}
.event {
  font-weight: bold;
}
.title {
  font-style: italic;
  font-weight: bold;
}
.talks a {
  font-size: .9em;
  display: inline-block;
}
.talks a:not(:last-of-type)::after {
  content: '|';
  margin-left: .25em;
  display: inline-block;
}

.upcoming {
  font-family: Caveat;
}
.upcoming::before {
  content: '(Upcoming)';
}
